body {background-color:saddlebrown;
   color:beige;
   font-family: "Libertinus Math", system-ui;
}
header {font-size: 35px;
border-bottom:  double 5px beige;
padding: 50px;
text-align: center;
}
h1{font-size:30px ;}
p {font-size:20px ;}